    <header class="l-header">
        <p><%= title %></p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/top.html">Top</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </nav>
    </header>