<% const rootPath = '../'; const title = 'Hello'; -%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include(`include/_head`, { title, rootPath }) %>
</head>
<body>
    <div id="app"></div>
</body>
</html>